<table mat-table
       [dataSource]="dataSource"
       class="user-list__table">
  <ng-container matColumnDef="index">
    <th mat-header-cell
        *matHeaderCellDef>
      No.
    </th>
    <td mat-cell
        *matCellDef="let element; let index = index">
      {{index + 1}}
    </td>
  </ng-container>

  <ng-container matColumnDef="image">
    <th mat-header-cell
        *matHeaderCellDef>
      {{ 'avatar' | translate }}
    </th>
    <td mat-cell
        *matCellDef="let element" [online]="element">
      <img class="user-list__image"
           [src]="element.image"
           [alt]="element.firstName">
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell
        *matHeaderCellDef>
      {{'name' | translate}}
    </th>
    <td mat-cell
        *matCellDef="let element">
      {{element | shortName}}
    </td>
  </ng-container>

  <ng-container matColumnDef="role">
    <th mat-header-cell
        *matHeaderCellDef>
      {{ 'role' | translate }}
    </th>
    <td mat-cell
        *matCellDef="let element">
      {{ element.role | translate }}
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell
        *matHeaderCellDef>
      {{ 'actions' | translate }}
    </th>
    <td class="user-list__actions"
        mat-cell
        *matCellDef="let element">
      <mat-icon (click)="$event.stopPropagation()"
                [routerLink]="['admin', 'edit', element.id]">
        edit
      </mat-icon>

      <mat-icon (click)="removeUser(element.id, $event)">
        delete
      </mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="create">
    <th mat-header-cell
        style="width: 200px"
        *matHeaderCellDef>
      <button routerLink="admin/create"
              mat-button>
        <mat-icon>
          add
        </mat-icon>

        {{ 'createUser' | translate }}
      </button>
    </th>
    <td mat-cell
        *matCellDef></td>
  </ng-container>

  <tr mat-header-row
      *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row
      class="user-list__row"
      [matTooltip]="'clickToSeeDetails' | translate"
      matTooltipClass="user-list__tooltip"
      [routerLink]="['details', row.id]"
      *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator #paginator
               [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
