\:host
  height: 100vh

.layout__content
  height: calc(100vh - 64px)
  overflow: auto

.layout__lang-slider
  display: flex
  flex-direction: row
  align-items: center

  > *
    margin-right: 10px
    display: block

.layout__logo
  cursor: pointer

.layout__toolbar
  justify-content: space-between
